.container {
  display: flex;
  min-width: 20vw;
  min-height: 10vh;
  background-color: #a54946;
  border: 2px solid #a54946;
  border-radius: 15px;
  overflow: hidden;
}

#loader {
  display: flex;
  align-self: flex-start;
  padding-left: 5%;
}

#minus {
  color: #a54946;
  width: 33.33%;
  font-size: 3rem;
  border-right: 2px solid #a54946;
  display: flex;
  justify-content: center;
  background-color: white;
  font-weight: bolder;
  cursor: pointer;
  user-select: none;
}

#counter {
  font-size: 2rem;
  color: #a54946;
  background-color: #f8e9e9;
  display: flex;
  justify-content: center;
  width: 33.34%;
  max-width: 33.34%;
  outline: none;
  border: none;
  text-align: center;
  font-weight: bolder;
}

#plus {
  color: white;
  width: 33.33%;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}
